* {
    box-sizing: border-box;
}

.created-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: darkred;
    color: white;
}

.dashboard-h1 {
    margin-top: 10px;
}

.search-label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

.form-control {
    margin-bottom: 10px;
    background-color: lightslategrey;
    color: white;
}

.wrapper-style {
    background-color: grey;
    border-radius: 10px;
}

.user-input {
    margin-bottom: 7px;
}

.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 8px;
    background-color: grey;
}

.city-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    border-radius: 10px;
}

.icon {
    width: 87px;
    height: 87px;
}

.results {
    border: 0;
}

.uv-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uv-result {
    color: black;
    font-size: 20px;
    padding: 1px 8px;
    margin-left: 8px;
}

.five-wrapper {
    border: 0;
}

.five-card {
    text-align: center;
    margin-right: 4px;
}

.five-style {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background-color: grey;
}

.five-day-icon {
    height: 60px;
    width: 60px;    
}

@media screen and (max-width: 1200px) {
    .site-header {
        font-size: 2rem;
    }
    
    .created-text {
        font-size: 1.2rem;
    }

    .five-style {
        flex-direction: column;
    }

    .five-card {
        margin-bottom: 3px;
    }

    .five-card h4 {
        font-size: 1.20rem;
    }

    .five-card h5 {
       font-size: 1.25rem;
    }
}

@media screen and (max-width: 980px) {
    .dashboard-h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .dashboard-h1 {
        font-size: 22px;
    }
}